/* ----------- constantes ----------- */
:root {
    --azulElevAi: #0D2345;
    --azulDestaque: #1c3f90;
    --azulVibrante: #1a48dc;
    --azulEscuro: #051228;
    --azulHover: #e9f2ff;
    --cinzaClaro: #f8fafa;
    --cinzaMedio: #b3b3b3;
    --cinzaMedio30: rgba(179, 179, 179, 0.3);
    --cinzaEscuro: #828282;
    --amareloEscuro: rgb(107, 107, 8);
    --amareloPadrao: rgb(246, 185, 8);
    --amareloClaro: rgb(246, 246, 204);
    --vermelhoClaro: rgb(242, 218, 218);
    --verdeClaro: rgb(216, 243, 216);
    --fonteLato: "Lato", sans-serif;
}



/* ----------- barra rolagem ----------- */
* {
  scrollbar-width: thin; /* Define a barra como fina (auto ou thin) */
  scrollbar-color: var(--azulElevAi) #00000000; /* Cor do puxador e da trilha */
}

/* Padrão WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 0.1px;  /* Largura da barra vertical */
  height: 0; /* Altura da barra horizontal */
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-thumb {
  background: var(--azulDestaque); /* Cor do fundo/trilha da barra */ /* Cor do puxador da barra */
  border-radius: 0;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--azulDestaque); /* Cor do puxador ao passar o mouse */
}

.editor::-webkit-scrollbar-track {
    margin: 0; /* remove recuo interno */
}

.monaco-editor .margin {
    width: 0 !important; /* remove a margem lateral */
}


/* ----------- navbar ----------- */
.bodyNav {
    background-color: var(--azulElevAi);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
}

#page-content {
    margin-left: 15%;
    padding: 1.5rem;
}

.logoElevAi {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}

.titleNav a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    padding: 0.5rem;
}

.titleNav a:hover {
    background-color: var(--azulDestaque);
    border-radius: 1rem;
}

.titleNav a.ativo {
    background-color: var(--azulDestaque);
    border-radius: 1rem;
    font-weight: 500;
}

.iconNav {
    margin-right: 0.5rem;
}



/* ----------- Global ----------- */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.titlePage {
    font-family: var(--fonteLato);
    font-size: 1.8rem;
    font-weight: 700;
}

.subtitlePage {
    font-family: var(--fonteLato);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: var(--cinzaEscuro);
}

footer {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.containerBotoes {
    border-bottom: 1px solid var(--cinzaMedio);
    margin: 1rem 0;
}

.botaoNavPage {
    font-size: 0.85rem;
    color: var(--cinzaMedio);
    background-color: white;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid white;
    font-weight: bold;
}

.botaoNavPage:hover {
    border-bottom: 2px solid var(--azulDestaque);
    color: var(--azulDestaque);
}

.botaoNavPage.ativo {
    border-bottom: 2px solid var(--azulElevAi);
    color: var(--azulElevAi);
}

.botaoNovo {
    color: white;
    font-weight: bold;
    background-color: var(--azulDestaque);
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

.botaoNovo a {
    text-decoration: none;
    color: white;
}

.botaoNovo:hover {
    background-color: var(--azulElevAi);
}

.inputStyle {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 1.5rem;
    padding: 0.2rem 2rem;
    color: grey;
}

.containerCampos {
    display: flex;
} 

.containerCampos, .campoPeriodo {
    flex-direction: column;
    align-items: flex-start; /* Alinha o label e os inputs rigidamente à direita */
    gap: 0.5rem; /* Espaço entre a palavra "Período" e as caixas de data */
    font-size: 0.85rem;
}

.recomendacoes {
    border: 1px solid var(--cinzaMedio);
    background-color: var(--cinzaClaro);
    border-radius: 1rem;
    padding: 2rem;
    margin: .5rem 0 1rem;
}

.titleRecomendacoes {
    font-size: 0.9rem;
    color: var(--azulElevAi);
    font-weight: bold;
}

.recomendacaoTexto {
    font-size: 1rem;
    font-weight: bold;
}

.cardRecomendacao {
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
}

.cardRecomendacao:hover {
    background-color: var(--azulHover);
    border-radius: 2rem;
}

.elevador {
    width: 18rem;
    height: auto;
    margin: auto;
    display: block;
}

.config {
    width: 18rem;
    height: auto;
    margin: 1rem auto 10rem;
    display: block;
}

.painelSemDados {
  text-align: center;
  padding: 3rem 0;
  color: var(--cinzaMedio);
}

/* ----------- Page - Index ----------- */
.navIndex, .containerIndexButton, .lineIndex, .cardIndex, .lineIndexB, .containerTitle, .navOrganizacao, .navIndexLinks {
    display: flex;
}

.bodyIndex {
    background-color: var(--azulEscuro);
}

.navIndex {
    background-color: var(--azulEscuro);
    margin: 0;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.navOrganizacao {
    align-items: center;
}

.navIndexLogo {
    width: 130px;
    height: auto;
}

a.navIndexText, a.navIndexButton {
    text-decoration: none;
    color: white;
}

.navIndexText {
    background-color: var(--azulEscuro);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--fonteLato);
}

.navIndexText:hover {
    color: var(--azulDestaque);
    background-color: var(--azulHover);
}

.navIndexLinks {
    justify-content: center;
    flex: 1;
    gap: 5rem;
}

.navIndexButton, .navIndexButtonB {
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    color: white;
}

.navIndexButton {
    background-color: var(--azulVibrante);
}

.navIndexButton.inactive, .navIndexButton.inactive:hover {
    background-color: var(--azulEscuro);
    color: var(--azulEscuro);
    cursor: default;
}

.navIndexButtonB {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}

.navIndexButton:hover, .navIndexButtonB:hover {
    background-color: var(--azulHover);
    color: var(--azulElevAi);
}

.containerIndexButton {
    gap: 1rem;
}

.containerTitle {
    background: linear-gradient(to bottom, rgba(5, 18, 40, 0), var(--azulEscuro));
}

.titleIndex {
    color: white;
    font-size: 5rem;
}

.titleIndex span {
    color: var(--azulVibrante);
}

.subtitleIndex {
    color: white;
    font-size: 2.5rem;
}

.textAIndex {
    color: white;
    font-size: 1.2rem;
    font-family: var(--fonteLato);
    font-weight: 100;
}

.indexTitleContainer {
    width: 50%;
    font-weight: 100;
    padding: 4rem 5rem 4rem;
}

.ImagemFundo {
    background-image: url('../img/fundoIndex.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: auto; 
    position: relative;
}

.ImagemFundo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, var(--azulEscuro), rgba(5, 18, 40, 0));
    pointer-events: none; /* não atrapalha cliques */
    z-index: 1;
}

.ImagemFundo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, rgba(5, 18, 40, 0), var(--azulEscuro));
    pointer-events: none; /* não atrapalha cliques */
    z-index: 1;
}

.cardIndex {
    color: var(--azulHover);
    font-size: 0.9rem;
    font-family: var(--fonteLato);
    font-weight: 300;
    align-items: center;
    width: 24.25%;
    border: 1px solid #00000000;
    border-radius: 1.5rem;
    padding: 1rem;
    z-index: 2;
}

.cardIndex:hover {
    border: 0.1px solid var(--azulDestaque);
}

.cardIndex.background {
    background-color: rgba(128, 128, 128, 0.1);
}

.iconIndexButton {
    margin-left: 0.25rem;
}

.iconIndex {
    background-color: #192e58;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    margin-right: 1rem;
    color: var(--azulHover);
}

.subtitleBIndex {
    color: var(--azulVibrante);
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 2rem;
}

.textBIndex {
    color: var(--azulHover);
    font-size: 1.1rem;
    font-weight: bold;
}

.textCIndex {
    color: var(--azulHover);
    font-size: 1rem;
}

.lineIndex, .containerTitle {
    gap: 1%;
    padding: 0 2rem 1rem;
}

.lineIndexB {
    padding: 0 2rem;
    justify-content: space-between;
}

.footerWhite {
    padding-top: 1rem;
    color: white;
}



/* ----------- Page - Login ----------- */
.bodyLogin, .loginImagemFundo, .cardImagemSolucao {
    display: flex;
}

.bodyLogin {
    background-color: var(--azulEscuro);
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;
}

.mainLogin {
    min-height: 82vh;
    flex: 1;
}

.loginImagemFundo {
    background-image: url('../img/fundoIndex.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: auto; 
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    margin: auto;
}

.loginImagemFundo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, var(--azulEscuro), rgba(5, 18, 40, 0));
    pointer-events: none; /* não atrapalha cliques */
}

.loginImagemFundo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, rgba(5, 18, 40, 0), var(--azulEscuro));
    pointer-events: none; /* não atrapalha cliques */
}

.caixaLogin {
    width: 50%;
    padding: 0 5rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.caixaLogin.esquerda {
    border-left: 1px solid white;
}

.conteudoCaixaLogin {
    width: 90%;
    margin: auto;
}

.conteudoCaixaLogin.background {
    padding: 3rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, 
        rgba(5, 18, 40, 0.8) 0%,     /* Mais escuro no topo da caixinha */
        rgba(5, 18, 40, 0.2) 40%,    /* Bem suave e transparente antes do meio */
        rgba(5, 18, 40, 0.2) 60%,    /* Mantém transparente no meio */
        rgba(5, 18, 40, 0.8) 100%    /* Volta a escurecer na base da caixinha */
    ), rgba(5, 18, 40, 0.5);          /* Cor sólida de fundo que você já usava */
}


.titleLogin {
    color: white;
    font-size: 5rem;
}

.titleLogin span {
    color: var(--azulVibrante);
}

.subtitleLogin {
    color: white;
    font-size: 2.5rem;
}

.loginButton {
    margin-top: 2rem;
}

.loginLabel {
    color: white;

}

.spaceLogin {
    margin: 1rem 0;
}



/* ----------- Page - Solução ----------- */
.bodySolucao {
    background-color: var(--azulEscuro);
}

.conteudoSolucao, .cardSolucao {
    display: flex;
}

.conteudoSolucao {
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0 3rem;
}

.titleSolucaoContainer {
    padding: 8rem 4rem;
    width: 50%;
    z-index: 2;
}

.titleSolucao {
    font-size: 2rem;
    font-family: var(--fonteLato);
    color: var(--azulVibrante);
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitleSolucao {
    font-size: 2rem;
    color: white;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textoSolucao {
    font-size: 1rem;
    color: white;
    font-family: var(--fonteLato);
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cardSolucao {
    color: var(--azulHover);
    font-size: 0.9rem;
    align-items: center;
    border: 1px solid #00000000;
    border-radius: 1.5rem;
    padding: 1rem;
    font-family: var(--fonteLato);
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cardSolucao:hover {
    border: 0.1px solid var(--azulDestaque);
}

.cardContainerSolucao {
    width: 28%;
}

.cardImagemSolucao {
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: end;
    border-radius: 2rem 0 0 2rem;
    background: linear-gradient(to bottom, 
        rgba(9, 25, 52, 0.7) 0%,     /* Mais escuro no topo da caixinha */
        rgba(9, 25, 52, 0.2) 40%,    /* Bem suave e transparente antes do meio */
        rgba(9, 25, 52, 0.2) 60%,    /* Mantém transparente no meio */
        rgba(9, 25, 52, 0.7) 100%    /* Volta a escurecer na base da caixinha */
    ), rgba(9, 25, 52, 0.5);  
    margin-bottom: 2rem;
}

.cardImagemSolucao img {
    padding: 3rem 0 3rem 3rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 0;
} 

.pbold {
    font-weight: 700;
}



/* ----------- Page - Recursos ----------- */
.conteudoRecursos {
    margin: 0 3rem;
}

.lineRecursos {
    display: flex;
    gap: 1%;
    margin-bottom: 1rem;
}

.cardRecursos {
    color: var(--azulHover);
    font-size: 0.8rem;
    font-family: var(--fonteLato);
    font-weight: 300;
    align-items: center;
    width: 24.25%;
    border: 1px solid #00000000;
    border-radius: 1.5rem;
    padding: 1rem;
    z-index: 2;
    background-color: rgba(128, 128, 128, 0.1);
    text-align: center;
}

.cardRecursos .pbold {
    font-size: 1rem;
}

.cardRecursos:hover {
    border: 0.1px solid var(--azulDestaque);
}


/* ----------- Page - Benefícios ----------- */
.lineBeneficios, .cardBeneficios {
    display: flex;
}

.conteudoBenefícios {
    margin-left: 3rem;
    background: linear-gradient(to bottom, 
        rgba(9, 25, 52, 0.8) 0%,     /* Mais escuro no topo da caixinha */
        rgba(9, 25, 52, 0.4) 40%,    /* Bem suave e transparente antes do meio */
        rgba(9, 25, 52, 0.4) 60%,    /* Mantém transparente no meio */
        rgba(9, 25, 52, 0.8) 100%    /* Volta a escurecer na base da caixinha */
    ), rgba(9, 25, 52, 0.5);  
    width: 60%;
    padding: 1rem;
    border-radius: 2rem;
}

.cardBeneficios {
    color: var(--azulHover);
    font-size: 0.9rem;
    font-family: var(--fonteLato);
    font-weight: 300;
    align-items: center;
    border: 1px solid #00000000;
    border-radius: 1.5rem;
    padding: 1rem;
    z-index: 2;
    width: 50%;
    border: 0.1px solid #00000000;
}

.destaque {
    font-size: 1rem;
    font-weight: bold;
}

.cardBeneficios:hover {
    border: 0.1px solid var(--azulDestaque);
}



/* ----------- Page - Público ----------- */
.conteudoPublico {
    margin: 0 3rem;
}

.cardContainerPublico {
    display: flex;
    gap: 1%;
    flex-direction: row;
    width: 100%;
}

.cardPublico {
    display: inline-block;
    background-color: white;
    border-radius: 1rem;
    width: 24.25%;
    margin-bottom: 2rem;
}

.cardPublicoTexto {
    display: inline-block;
    padding:  1rem 1.5rem;
    font-size: 0.9rem;
    font-family: var(--fonteLato);
}

.cardPublico img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 1rem 1rem 0 0;
}

.iconGreen {
    color: green;
    margin: 0 0.25rem;
}

.cardPublico > div:first-child {
    position: relative;   /* permite posicionar o ícone dentro */
    overflow: hidden;     /* evita que o ícone ultrapasse o card */
}

.iconFlutuante {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    box-shadow: 0 2px 4px var(--cinzaMedio30);
    background-color: var(--azulVibrante);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    margin-right: 1rem;
    color: var(--azulHover);
}



/* ----------- Page - Fale Conosco ----------- */
.contCaracteres {
    font-size: 0.7rem;
    color: var(--cinzaEscuro);
    font-weight: bold;
    text-align: end;
}

.lineFale, .forms-login, .loginButton.end, .faleImagemFundo, .cardFale {
    display: flex;
}

.lineFale {
    gap: 1rem;
    width: 100%;
}

.forms-login {
    flex-direction: column;
    gap: 10px;
}

.caixaFale30, .caixaFale70 {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 4rem;
}

.caixaFale30 {
    width: 30%;
}

.caixaFale70 {
    width: 70%;
    margin: 4rem auto;
}

.conteudoCaixaFale {
    width: 90%;
    margin: auto;
    padding: 3rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, 
        rgba(5, 18, 40, 0.8) 0%,     /* Mais escuro no topo da caixinha */
        rgba(5, 18, 40, 0.2) 40%,    /* Bem suave e transparente antes do meio */
        rgba(5, 18, 40, 0.2) 60%,    /* Mantém transparente no meio */
        rgba(5, 18, 40, 0.8) 100%    /* Volta a escurecer na base da caixinha */
    ), rgba(5, 18, 40, 0.5);          /* Cor sólida de fundo que você já usava */
}

.campoFale {
    width: 50%;
}

.loginButton.end {
    justify-content: end;
}

.faleImagemFundo {
    background-image: url('../img/fundoIndex.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: auto; 
    position: relative;
    width: 100%;
    height: 100%;
    align-items: start;
}

.faleImagemFundo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, var(--azulEscuro), rgba(5, 18, 40, 0));
    pointer-events: none; /* não atrapalha cliques */
}

.faleImagemFundo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, rgba(5, 18, 40, 0), var(--azulEscuro));
    pointer-events: none; /* não atrapalha cliques */
}

.cardFale {
    color: var(--azulHover);
    font-size: 0.9rem;
    align-items: center;
    border: 1px solid #00000000;
    border-radius: 1.5rem;
    font-family: var(--fonteLato);
    font-weight: 300;
    width: 100%;
}

.cardFale:hover {
    border: 0.1px solid var(--azulDestaque);
}


/* ----------- Page - Dashboard ----------- */
.containerAlerta, .lineDash30, .lineDash47, .headerDash, .campoPeriodo, .inputContainer, .containerGraficoRosca {
    display: flex;
} 

.headerDash {
    justify-content: space-between; /* Empurra o H1 para a esquerda e o período para a direita */
    align-items: flex-start;
    margin-bottom: 2rem;
}

.inputContainer {
    align-items: center;
    gap: 1rem; /* Controla o espaço entre os inputs e o "a" */
}

.lineDash30, .lineDash47 {
    gap: 1%;
}

.colDash {
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
}

.colDash30.hover:hover {
    background-color: var(--azulHover);
}

.colDash30, .colDash47 {
    display: inline-block;
}

.colDash30 {
    width: 32.6%;
}

.colDash47 {
    width: 47.5%;
    flex: 1; /* ambos terão o mesmo tamanho */
}

.subtitleDash {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--cinzaEscuro);
}

.dadoDash {
    font-size: 1.6rem;
    font-weight: bold;
}

.legendaDash {
    font-size: 0.7rem;
    color: var(--cinzaEscuro);
}

.titleDash {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.containerAlerta {
    align-items: center;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 1.5rem;
} 

.containerAlerta:hover {
    background-color: var(--azulHover);
}

.imgAlerta {
    color: red;
    text-align: center;
    width: 5%;
}

.titleAlert, .textAlert {
    font-size: 0.85rem;
}

.titleAlert {
    font-weight: bold;
}

.containerGrafico, .containerGraficoSLA, .containerImagem, .containerGraficoLinhas {
    margin: 0 auto;
}

.containerGrafico, .containerImagem {
    width: 75%;
    height: 80%;
}

.containerGraficoSLA {
    width: 80%;
    height: 80%;
}

.containerGraficoLinhas {
    width: 100%;
    height: 82%;
}

.containerImagem img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.containerTable {
    width: 100%;
    text-align: center;
}

.containerTable table {
    margin: 0 auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.75rem;
    overflow: hidden;
    background: #d2d1d1;
}

.containerTable table td {  /* Células */
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
    color: #333;
    word-break: break-word; /* ESSENCIAL */
}

.containerTable table tr:nth-child(even) {  /* Aspecto Zebra - uma linha de cada cor */
    background-color: #f7f7f7;
}

.containerTable table tr:nth-child(odd) {   /* Aspecto Zebra - uma linha de cada cor */
    background-color: #fafafa;
}

.containerTable table tr:hover {
    background-color: var(--azulHover);
    transition: background-color 0.2s ease;
}

.containerTable table td:first-child {  /* Primeira coluna (números) */
    font-weight: 600;
    color: #0c5dc2;
    text-align: center;
}

.containerTable table td:last-child {  /* Última coluna (quantidade + %) */
    font-weight: 600;
    color: #555;
    text-align: right;
}



/* ----------- Page - Relatório ----------- */
.relatorioContainer, .filterCampos, .checkAutomativo {
    display: flex;
} 

.relatorioContainer {
    align-items: center;
    gap: 1rem; /* Controla o espaço entre os inputs e o "a" */
}

.escondido {
    display: none !important;
}

.filterCampos {
    gap: 0.9rem;
    margin: auto;
    justify-content: center;
    align-items: end;
    margin-bottom: 2rem;
}

.botaoTabelaRelatorio {
    color: var(--cinzaEscuro);
    background-color: var(--cinzaClaro);
    padding: 0.25rem 0.5rem;
    font-size: .85rem;
    border-radius: 0.5rem;
    border: 1px solid var(--cinzaEscuro);
}

.botaoTabelaRelatorio:hover {
    color: white;
    background-color: var(--azulDestaque);
}

.relatorioTable {
    width: 100%;
    text-align: start;
}

.relatorioTable table {
    margin: 0 auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.75rem;
    overflow: hidden;
    background: #d2d1d1;
}

.relatorioTable table td {  /* Células */
    padding: 0.4rem 1rem;
    font-size: 0.85rem;
    color: #333;
    word-break: break-word; 
}

.relatorioTable table tr:nth-child(even) {  /* Aspecto Zebra - uma linha de cada cor */
    background-color: #f7f7f7;
}

.relatorioTable table tr:nth-child(odd) {   /* Aspecto Zebra - uma linha de cada cor */
    background-color: #fafafa;
}

.relatorioTable table tr:hover {
    background-color: var(--azulHover);
    transition: background-color 0.2s ease;
}

.relatorioTable table th {  /* Primeira coluna (números) */
    font-weight: 600;
    color: var(--azulElevAi);
    text-align: center;
    background-color: #f4f4f4;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.relatorioTable table td:last-child {  /* Última coluna (quantidade + %) */
    font-weight: 600;
    color: #555;
    text-align: right;
}

.relatorioAutomativo {
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinzaMedio);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 0;
}

.titleRelatorioAutomativo {
    font-size: 1rem;
    color: var(--azulElevAi);
    font-weight: bold;
}

.checkAutomativo {
    margin-top: 1rem;
    width: 60%;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
}

.checkAutomativo:hover{
    background-color: var(--azulHover);
    border-radius: 1rem;
}



/* ----------- Page - Plano de manutenção ----------- */
.lineManutencao, .containerRecomendacoesManutencao, .containerCronograma, .containerEsquerda {
    display: flex;
}

.lineManutencao {
    margin: .5rem 0;
    gap: 1%;
}

.colManutencao, .colPlanAtivos, .colPlanAtrasados  {
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    padding: 1.0rem 1.25rem;
    margin-bottom: 1rem;
    display: inline-block;
    width: 24.25%;
}

.colManutencao {
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinzaMedio);
}

.colManutencao:hover {
    background-color: var(--azulHover);
}

.colPlanAtivos {
    background-color: var(--verdeClaro);
    color: green;
}

.colPlanAtivos:hover {
    background-color: green;
    color: var(--verdeClaro);
}

.colPlanAtrasados {
    background-color: var(--vermelhoClaro);
    color: red;
}

.colPlanAtrasados:hover {
    background-color: red;
    color: var(--vermelhoClaro);
}

.dadoManutencao {
    font-size: 1.6rem;
    font-weight: bold;
}

.legendaManutencao {
    font-size: 0.7rem;
}

.legendaManutencao.grey {
    color: var(--cinzaEscuro);
}

.iconRecomendacoesManutencao {
    border-radius: 30rem;
    color: green;
    background-color: var(--verdeClaro);
    padding: 1rem;
    font-size: 2rem;
}

.containerRecomendacoesManutencao {
    width: 80%;
    margin: 0.5rem 0;
    align-items: center;
}

.recomendacoesGapRight {
    margin-right: 2rem;
}

.recomendacoesGapLeft {
    margin-left: 8rem;
}

.containerCronograma {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Alinha o label e os inputs rigidamente à direita */
    gap: 2rem; /* Espaço entre a palavra "Período" e as caixas de data */
    margin-bottom: 1rem;
}

.containerEsquerda {
    width: 25%;
    flex-direction: column;
}

.containerEsquerda > div:first-child {
    display: flex;
    justify-content: flex-end;
}

.containerCards {
    background-color: #fff;
    box-shadow: 0 2px 4px var(--cinzaMedio30);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
}

.verCards {
    color: var(--azulDestaque);
    font-weight: bold;
    font-size: 0.8rem;
}

.verCards:hover {
    text-decoration: underline;
    color: rgb(5, 149, 172);
}

.cardA, .cardB, .cardC {
    border-radius: 1.5rem;
    padding: 0.7rem 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.cardA {
    margin-top: 1rem;
}

.cardA, .cal-cell.blue {
    background-color: #d5e8f9;
    color: blue;
}

.cardA:hover, .cal-cell.blue:hover {
    color: #d5e8f9;
    background-color: blue;
}

.cardB, .cal-cell.purple {
    background-color: #e7d8fc;
    color: purple;
}

.cardB:hover, .cal-cell.purple:hover {
    color: #e7d8fc;
    background-color: purple;
}

.cardC, .cal-cell.green {
    background-color: #bfefd3;
    color: green;
}

.cardC:hover, .cal-cell.green:hover {
    color: #bfefd3;
    background-color: green;
}

.calendar {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
    width: 75%;
    box-shadow: 0 2px 4px var(--cinzaMedio30);
}

.calendar-top {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.25rem;
}

.cal-month {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
}

.cal-btn {
    background: var(--cinzaClaro);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
}

.cal-btn:hover {
    background: var(--azulHover);
}

.cal-filter {
    width: auto;
    font-size: 0.85rem;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.cal-header {
    text-align: center;
    font-weight: 600;
    padding: 0.5rem 0;
    color: var(--cinzaEscuro);
    background: #f7f7f7;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.cal-cell {
    min-height: 4rem;
    background: #fafafa;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;
    border: 1px solid #eee;
}

.cal-cell.empty {
    background: transparent;
    border: none;
}

.cal-cell:hover {
    background-color: var(--azulHover);
}

.day-number {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--cinzaEscuro);
}

.event {
    font-size: 12px;
    padding: 6px;
    border-radius: 6px;
    color: #fff;
    margin-top: 4px;
    text-align: left;
}

.event.padrao {
    background: #007bff;
}

.event.escadas {
    background: #6f42c1;
}

.event.energia {
    background: #198754;
}



/* ----------- Page - Peças ----------- */
.linePecas, .barraNavegacaoTable, .numNavegacaoTable, .containerGraficoLinhaPecas {
    display: flex;
}

.linePecas {
    margin: 2rem 0 0.5rem;
    gap: 1%;
}

.colPecas21, .colPecas21Criticas, .colPecas21Alerta, .colPecas20, .colPecas35 {
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    padding: 1.0rem 1.25rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.colPecas21, .colPecas21Criticas, .colPecas21Alerta {
    width: 24.25%;
}

.colPecas20 {
    width: 20%;
}

.colPecas35 {
    width: 39%;
}

.colPecas21, .colPecas20, .colPecas35 {
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinzaMedio);
}

.colPecas21:hover {
    background-color: var(--azulHover);
}

.colPecas21Alerta {
    background-color: var(--amareloClaro);
    color: var(--amareloEscuro);
}

.colPecas21Alerta:hover {
    background-color: var(--amareloEscuro);
    color: var(--amareloClaro);
}

.colPecas21Criticas {
    background-color: var(--vermelhoClaro);
    color: red;
}

.colPecas21Criticas:hover {
    background-color: red;
    color: var(--vermelhoClaro);
}

.dadoPecas {
    font-size: 1.6rem;
    font-weight: bold;
}

.legendaPecas {
    font-size: 0.7rem;
}

.legendaPecas.grey {
    color: var(--cinzaEscuro);
}

.pecasTable {
    width: 100%;
    text-align: start;
}

.pecasTable table {
    margin: 0 auto 1rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.75rem;
    overflow: hidden;
    background: #d2d1d1;
}

.pecasTable table td {  /* Células */
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    color: #333;
    word-break: break-word; 
}

.pecasTable table tr:nth-child(even) {  /* Aspecto Zebra - uma linha de cada cor */
    background-color: #f7f7f7;
}

.pecasTable table tr:nth-child(odd) {   /* Aspecto Zebra - uma linha de cada cor */
    background-color: #fafafa;
}

.pecasTable table tr:hover {
    background-color: var(--azulHover);
    transition: background-color 0.2s ease;
}

.pecasTable table th {
    font-weight: 600;
    color: var(--azulElevAi);
    text-align: center;
    background-color: #f4f4f4;
    padding: 1rem;
    font-size: 0.85rem;
}

.pecasTable table td {
    color: #555;
    text-align: center;
}

.statusNormal, .statusBaixo {
    border-radius: 1.5rem;
    padding: 0.25rem 1rem;
    font-weight: 600;
    font-size: 0.8rem;
}

.statusNormal {
    color: green;
    background-color: #bfefd3;
}

.statusBaixo {
    color: red;
    background-color: var(--vermelhoClaro);
}

.barraNavegacaoTable, .numNavegacaoTable {
    justify-content: space-between;
    align-items: center;
}

.numerosBarra {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    margin: 0 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

.numerosBarra:hover {
    background-color: var(--azulHover);
}

.numerosBarra.ativo {
    background-color: var(--azulDestaque);
    color: white;
    font-weight: bold;
}

.numerosBarra.inativo {
    color: var(--cinzaMedio);
}

.numerosBarra.inativo:hover {
    background-color: white;
}

.subtitlePecas {
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--cinzaEscuro);
}

.textPecasA {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--cinzaMedio);
}

.textPecasB {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.containerGraficoLinhaPecas {
    width: 100%;
    margin: 0 auto;
    height: 80%;
}



/* ----------- Page - Equipe ----------- */
.lineEquipe, .containerBtnTecnicos, .form-groupBtn, .tecnicoRecomendacao, .mapaTecnicos {
    display: flex;
}

.lineEquipe, .marginLine {
    gap: 1%;
}

.marginLine {
    margin: 2rem 0 0;
}

.colEquipe16, .colEquipe16Atendimento, .colEquipe16Disponivel, .colEquipe16Deslocamento, .colEquipe58, .colEquipe37 {
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.colEquipe16, .colEquipe16Atendimento, .colEquipe16Disponivel, .colEquipe16Deslocamento, .colEquipe37 {
    padding: 1.0rem 1.25rem;
}

.colEquipe58 {
    padding: 0.5rem 1.5rem;
}

.colEquipe16, .colEquipe16Atendimento, .colEquipe16Disponivel, .colEquipe16Deslocamento {
    width: 19.2%;
}

.colEquipe58 {
    width: 62%;
}

.colEquipe37 {
    width: 37%;
}

.colEquipe16 {
    background-color: var(--cinzaClaro);
}

.colEquipe16:hover {
    background-color: var(--azulHover);
}

.colEquipe16Atendimento, .tecAtendimento {
    background-color: #dee5f6;
    color: #2760e1;
}

.colEquipe16Atendimento:hover {
    background-color: #2760e1;
    color: #dee5f6;
}

.circleAzul {
    color: #2760e1;
}

.colEquipe16Disponivel, .tecDisponivel {
    background-color: var(--verdeClaro);
    color: green;
}

.colEquipe16Disponivel:hover {
    background-color: green;
    color: var(--verdeClaro);
}

.circleVerde {
    color: green;
}

.colEquipe16Deslocamento, .tecDeslocamento {
    background-color: var(--amareloClaro);
    color: var(--amareloEscuro);
}

.colEquipe16Deslocamento:hover {
    background-color: var(--amareloEscuro);
    color: var(--amareloClaro);
}

.circleAmarelo {
    color: var(--amareloEscuro);;
}

.dadoEquipe {
    font-size: 1.6rem;
    font-weight: bold;
}

.legendaEquipe {
    font-size: 0.7rem;
}

.legendaEquipe.grey {
    color: var(--cinzaEscuro);
}

.containerBtnTecnicos {
    gap: 5rem;
    border-bottom: 1px solid var(--cinzaMedio);
    margin: 1rem 0;
    align-items: center;
    width: 100%;
}

.tecnicoRecomendacao {
    align-items: center;
    gap: 5%;
}

.iconPerson {
    font-size: 2rem;
}

.iconPersonTable {
    font-size: 1.5rem;
}

.circleItem {
    font-size: 0.7rem;
    margin-right: 0.5rem;
}

.tecAtendimento, .tecDeslocamento, .tecDisponivel {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    align-items: center;
}

.relatorioTecnicos {
    width: 100%;
    text-align: center;
}

.relatorioTecnicos table {
    margin: 0 auto 1rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.75rem;
    overflow: hidden;
    background: #d2d1d1;
}

.relatorioTecnicos table td {  /* Células */
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #333;
    word-break: break-word; 
}

.relatorioTecnicos table tr:nth-child(even) {  /* Aspecto Zebra - uma linha de cada cor */
    background-color: #f7f7f7;
}

.relatorioTecnicos table tr:nth-child(odd) {   /* Aspecto Zebra - uma linha de cada cor */
    background-color: #fafafa;
}

.relatorioTecnicos table tr:hover {
    background-color: var(--azulHover);
    transition: background-color 0.2s ease;
}

.relatorioTecnicos table th {  /* Primeira coluna (números) */
    font-weight: 600;
    color: var(--azulElevAi);
    text-align: center;
    background-color: #f4f4f4;
    padding: 0.5rem;
}

.relatorioTecnicos table td:last-child {  /* Última coluna (quantidade + %) */
    font-weight: 600;
    color: #555;
    text-align: right;
}

.legendaTecMapa {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
    font-size: 0.85rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: 0 2px 4px var(--cinzaMedio30);
}

.mapaTecnicos {
    background-image: url('../img/mapaTecnicos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95%;
    border-radius: 1.5rem; 
    flex: 1; /* ambos terão o mesmo tamanho */
    position: relative; 
}



/* ----------- Page - KPIs ----------- */
.lineKpi, .colKpi47, .mapaAtendimento {
    display: flex;
}

.lineKpi {
    margin: 0.5rem 0;
    gap: 1%;
}

.colKpi21, .colKpi47 {
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    padding: 1.0rem 1.25rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinzaMedio);
}

.colKpi21 {
    width: 24.25%;
}

.colKpi47 {
    width: 49.5%;
    height: 20rem;
}

.lineGraph {
    height: 80%;
}

.colKpi21:hover {
    background-color: var(--azulHover);
}

.subtitleKpi {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--cinzaEscuro);
}

.dadoKpi {
    font-size: 1.6rem;
    font-weight: bold;
}

.legendaKpi {
    font-size: 0.7rem;
}

.legendaKpi.green {
    color: green;
}

.legendaKpi.red {
    color: red;
}

.lineIMG {
    background-image: url('../img/mapaKpis.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
    border-radius: 1.5rem; 
    flex: 1; /* ambos terão o mesmo tamanho */
    position: relative; 
}



/* ----------- Page - Atendimentos ----------- */
.lineAtendimento, .colAtendimento47, .colAtendimento30, .identificacaoElevador, .containerDadosAtendimento, .filterCardsAtendimento {
    display: flex;
}

.lineAtendimento {
    margin: .5rem 0;
    gap: 1%;
}

.colAtendimento47, .colAtendimento30 {
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    padding: 1.0rem 1.25rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-color: var(--cinzaClaro);
}

.colAtendimento47 {
    width: 49.5%;
}

.colAtendimento30 {
    width: 32.6%;
}

.colAtendimento30:hover {
    background-color: var(--azulHover);
}

.identificacaoElevador, .containerDadosAtendimento, .filterCardsAtendimento {
    gap: 45%;
    align-items: center;
}

.tagElevador{
    font-size: 0.85rem;
    font-weight: 600;
    display: inline-block;
}

.atendimentoCritico, .atendimentoAlto, .atendimentoMedio, .atendimentoBaixo {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    font-size: 0.75rem;
}

.atendimentoCritico {
    background-color: red;
}

.atendimentoAlto {
    background-color: rgb(221, 121, 6);
}

.atendimentoMedio {
    background-color: var(--amareloPadrao);
}

.atendimentoBaixo {
    background-color: green;
}

.dadosAtendimento {
    font-size: 0.8rem;
    color: var(--cinzaEscuro);
}

.tempoAtendimento {
    color: red;
    font-weight: bold;
}

.infoAtendimento {
    font-size: 0.8rem;
    font-weight: bold;
}

.botaoAtendimento {
    margin: 1rem;
    width: fit-content;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    box-shadow: 0 2px 4px var(--cinzaMedio30);
}

.mapaAtendimento {
    background-image: url('../img/mapaCaminho.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
    border-radius: 1.5rem; 
    flex: 1; /* ambos terão o mesmo tamanho */
    position: relative; 
}

.cartaoAssistente {
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinzaMedio);
    border-radius: 1rem;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
}

.linhaPergunta {
    display: flex;
    gap: 0.5rem;
}

.campoPergunta {
    flex: 1;
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    padding: 0.4rem 1rem;
    font-size: 0.75rem;
}

.botaoPerguntar {
    background-color: var(--azulElevAi);
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
}


.botaoPerguntar:hover{
    background-color: var(--azulDestaque);
}

.divOculta {
    margin-bottom: 2rem;
}



/* ----------- Page - Ocorrências ----------- */
.lineOcorrencia, .classificacaoOcorrencia, .elevadorOcorrencia, .pecasOcorrencia {
    display: flex;
}

.lineOcorrencia {
    margin: 2rem 0;
    gap: 1%;
    align-items: stretch;
}

.colOcorrencia35 {
    width: 35%;
}

.colOcorrencia64 {
    width: 64%;
}

.colOcorrencia {
    width: 100%;
}

.classificacaoOcorrencia .elevadorOcorrencia , .elevadorOcorrencia .tagsOcorrencia, .elevadorOcorrencia .titleCardOcorrencia {
    width: 50%;
}

.colOcorrencia35, .colOcorrencia64, .colOcorrencia {
    font-family: var(--fonteLato);
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinzaMedio);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.titleCardOcorrencia {
    font-weight: bold;
    font-family: var(--fonteLato);
    color: var(--azulElevAi);
    font-size: 1rem;
}

.titleOcorrencia {
    font-weight: bold;
    color: var(--azulElevAi);
    font-size: 0.9rem;
}

.elevadorOcorrencia {
    align-items: center;
    width: 100%;
}

.elevadorOcorrencia p {
    margin: 0;
    font-size: 0.9rem;
}

.numDestaque {
    font-weight: bold;
    color: red;
}

.elevadorOcorrencia img {
    width: 20%;
    aspect-ratio: 8 / 10;
    border-radius: 0.75rem;
    object-fit: cover;
    border: 1px solid var(--cinzaMedio30);
}

.colOcorrencia .elevadorOcorrencia {
    align-items: start;
}

.pecasOcorrencia {
    gap: 1rem;
    margin: 0.5rem 0;
}

.tagPeca {
    border: 1px solid rgb(216, 219, 225);
    padding: 0.25rem 1rem;
    background-color: rgba(216, 219, 225, 0.3);
    border-radius: 2rem;
    font-size: 0.75rem;
}

.tagPeca:hover {
    background-color: var(--azulHover)
}

.criticoOcorrencia {
    color: red;
    background-color: var(--vermelhoClaro);
    padding: 0.15rem 1rem;
    border-radius: 1rem;
}

.elevadorOcorrencia.gap {
    gap: 2rem;
}


/* ----------- Tablet ----------- */
@media (max-width: 1200px) {
    .bodyNav {
        width: 20% !important;
        padding: 1rem 0.85rem;
    }

    .titleNav a {
        color: white;
        text-decoration: none;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        padding: 0.3rem;
    }

    .logoElevAi {
        width: 70%;
        margin-bottom: 1.5rem;
    }

    .iconNav {
        font-size: 0.5rem;
        margin-right: 0.25rem;
    }

    #page-content {
        margin-left: 20% !important;
    }

    .containerGraficoRosca {
        width: 90% !important;
    }

    .recomendacoesGapRight {
        margin-right: 1rem;
    }

    .recomendacoesGapLeft {
        margin-left: 1rem;
    }

    .identificacaoElevador, .containerDadosAtendimento, .filterCardsAtendimento {
        gap: 10%;
        align-items: center;
    }

    .navIndexLinks {
        width: 100%;
        gap: 1rem;
    }

    .navIndexButton, .navIndexButtonB {
        margin-left: 2rem;
        text-align: center;
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
    }

    .navIndexText {
        font-size: 0.8rem;
        padding: 0.1rem 0.5rem;
    }

    .navIndexLogo {
        width: 25%;
    }
    
    .indexTitleContainer, .titleSolucaoContainer {
        width: 90%;
        font-weight: 100;
        padding: 3rem 2rem;
    }

    .titleIndex, .titleLogin {
        font-size: 2rem;
    }

    .subtitleIndex, .subtitleSolucao {
        font-size: 1.5rem;
    }

    .textAIndex, .subtitleLogin {
        font-size: 0.9rem;
    }
    
    .containerTitle, .lineIndex, .lineIndexB, .conteudoSolucao, .lineRecursos, .lineBeneficios, .faleImagemFundo, .lineFale, .cardContainerPublico, .loginImagemFundo {
        flex-direction: column;
    }

    .cardIndex {
        font-size: 0.9rem;
        width: 70%;
        margin-top: 1rem;
    }

    .conteudoSolucao, .lineRecursos {
        justify-content: center;
        margin: auto;
    }

    .cardContainerSolucao, .cardImagemSolucao, .lineRecursos, .conteudoBenefícios, .lineBeneficios {
        width: 90%;
    }

    .conteudoBenefícios {
        margin: 2rem 1rem;
        justify-items: center;
    }

    .cardImagemSolucao {
        border-radius: 2rem;
    }

    .cardImagemSolucao img {
        padding: 2rem;
    }

    .ImagemFundo {
        background-image: url('../img/fundoIndex.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: auto; 
        position: relative;
    }

    .ImagemFundo::before, .ImagemFundo::after {
        width: 100%;
        height: 2rem;
    }

    .cardRecursos, .cardBeneficios {
        width: 100%;
        margin: 1rem 0;
    }

    .cardFale, .conteudoCaixaFale, .caixaFale30, .caixaFale70, .campoFale, .cardPublico, .caixaLogin, .conteudoCaixaLogin {
        width: 100%;
    }

    .caixaLogin {
        padding: 0 2rem;
    }

    .conteudoCaixaLogin.title {
        margin-top: 2rem;
    }

    .conteudoCaixaLogin.background{
        padding: 1rem 2rem;
    }


    .caixaFale30, .caixaFale70 {
        padding: 0 1rem;
        margin: 1rem 0;
    }

    .cardRecursos, .pbold {
        font-size: 0.7rem;
    }

    .iconIndex, .iconFlutuante {
        font-size: 1rem;
    }

    .cardFale {
        font-size: 0.8rem;
        margin: 2rem 0;
    }

    .caixaLogin.esquerda {
        border-left: none;
    }
}



/* ----------- Celulares maiores ----------- */
@media (max-width: 900px) { 
    .bodyNav {
        width: 25% !important;
        padding: 1rem 0.5rem;
    }

    .titleNav a {
        margin-bottom: 0.5rem;
        font-size: 0.60rem;
        padding: 0.1rem;
    }

    .logoElevAi {
        width: 80%;
        margin-bottom: 1.5rem;
    }

    .iconNav {
        display: none;
    }

    #page-content {
        margin-left: 25% !important;
    }
}



/* ----------- Celulares menores ----------- */
@media (max-width: 700px) {
    .bodyNav {
        width: 28% !important;
    }

    .titleNav a {
        font-size: 0.55rem;
    }

    #page-content {
        margin-left: 28% !important;
    }

    .navIndex {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .navIndexLinks {
        flex-direction: column;
        width: 100%;
        gap: 0.8rem;
    }

    .navIndexButton, .navIndexButtonB {
        width: 100%;
        text-align: center;
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
        margin: 0 auto;
    }

    .navIndexText {
        font-size: 0.8rem;
        padding: 0.1rem;
    }

    .navIndexLogo {
        width: 25%;
    }

    .cardIndex {
        font-size: 0.9rem;
        width: 100%;
        margin-top: 1rem;
    }

    .containerIndexButton {
        flex-direction: column;
    }

    .spaceLogin, .loginButton {
        margin: 0.5rem 0;
    }
}



/* ----------- Celulares menores ----------- */
@media (max-width: 500px) {
    .bodyNav {
        width: 30% !important;
    }

    .titleNav a {
        font-size: 0.50rem;
    }

    #page-content {
        margin-left: 30%;
    }
}